@page
@model KönyvtárAlkalmazás.Pages.AdminPages.VonalDiagramModel
@{
}
<div class="h-100 d-flex align-items-center justify-content-center"><h1>Vonal Diagram</h1></div>


<form method="post">
    <div class="form-outline mb-4">
    <span asp-validation-for="KezdetiDátum" class="text-danger"></span>
    <input asp-for="KezdetiDátum" type="date" id="form5Example1" class="form-control" />
    <label class="form-label" for="form5Example1">KezdetiDátum</label>
  </div>

  <div class="form-outline mb-4">
    <span asp-validation-for="VégDátum" class="text-danger"></span>
    <input asp-for="VégDátum" type="date" id="form5Example2" class="form-control" />
    <label class="form-label" for="form5Example2">VégDátum</label>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
     <button type="submit" class="btn btn-info btn-lg">Mutat</button>
  </div>
</form>