@page
@model KönyvtárAlkalmazás.Pages.AdminPages.ÚjKölcsönzésVisszaigazolásModel
@{
}
<h1>Sikerers kölcsönzés!</h1>
<h2>Lejárati dátum: @Model.Lejarat</h2>
<a asp-page="/AdminPages/AKezdooldal">Vissza a kezdőoldalra</a>